.title {
    background-color: rgb(24, 24, 105);
    color: white;
    text-align: center;
    font-size: 60px;
    max-width: 100%;
}

.header h1 {
    font-size: 60px;
}

.col-sm-9 {
     border: 2px solid black; 
    
}

 .col-sm-3{
    height: 100%;
} 

 .card-columns {
    column-count: 5;
    column-gap: 30px;
     /* padding-left: 500px; 
    margin-left: 475px; */
} 